*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(47, 88%, 63%);
    display: grid;
    align-items: center;
    place-items: center;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    font-family: "Outfit", serif;
}
.container{
    background-color: white;
    width: 384px;
    height: 522px;
    border-radius: 20px;
    box-shadow: 10px 10px;
    border: 1px solid black;
}
h1,h6{
    font-weight: 800;
}
.base-img{
width: 336px;
height: 205px;
margin-top: 22px;
border-radius: 15px;
}
.content{
    text-align: left;
    margin-top: 23px;
    width: 336px;
    height: 194px;
}
.h5cont{
    width: 82px;
    height: 29px;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
#date{
    padding-top: 16px;
}
p{
    font-size: 16px;
    font-weight: 500;
}
h1{
    padding-top: 12px;
}
#text{
    padding-top: 12px;
    color: hsl(0, 0%, 42%)
}
.avatar-img{
    width: 32px;
    height: 32px;
}
.avatar{
    margin-top: 24px;
    display: flex;
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:  hsl(47, 88%, 63%);;
}
#author-name{
    font-size: 14px;
    padding-left: 12px;
}






@media screen and (max-width:500px) {
.container{
    width: 327px;
    height: 501px;
}

.base-img {
        width: 85%;
        height: auto;
        border-radius: 15px;
        overflow: hidden;
    }
    .content{
        width: 85%;
        overflow-wrap: break-word;
    }
}
